body {
    background-image: url('images/snake_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

canvas {
    border: 10px solid rgb(186, 80, 69);
}

h1 {
    font-family: 'Luckiest Guy', cursive;
    color: #ffa500;
    font-size: 3.7em;
    margin: 0.2em 0 0 0;
    text-shadow: 2px 2px 5px grey;
}